# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
tfplan*
*.tfvars
!*.tfvars.example
!environments/*.tfvars

# Crash logs
crash.log
crash.*.log

# Secrets
secrets.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc
